.About{
    background-image: url('../../Assets/16971021.500000004_pexels-photo-745988.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}