.Contact{
    background-image: url('../../Assets/16996266.400000002_menu-restaurant-vintage-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}