.Contact{
    background-image: url('../../Assets/16996266.400000002_menu-restaurant-vintage-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    text-align: center;
}

.ContactInfo{
    /* position: absolute; */
    display: grid;
    color: white;
    place-items: center;
    padding-top: 16%;
    height: 80px;
}

.ContactInfo p{
    padding-top: 40px;
    font-size: 20px;
}