.Intro{
    background-image: url('../../Assets/16962679.400000002_pexels-photo-750073.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.Center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.CenterTitle{

}

.CenterMotto{
    
}