.Intro{
    background-image: url('../../Assets/16962679.400000002_pexels-photo-750073.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.Center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.CenterTitle{
    color: white;
    font-size: 100px;
    font-family: 'Euphoria Script', cursive;
}

.CenterMotto{
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

.Button{
    margin-top: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 14px;
    color: white;
    width: 90px;
    height: 30px;
}